*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root
{
    --dis-primary: #3161E0;
    --dis-text: #23272A;
    --dis-secondary-bg: #F6F6F6;
    --dis-highlight-text: #7289DA;
    --dis-secondary-button: #8EA1E1;
    --dis-third-bg: #23272A;
}

.debug
{

    #invite-only,
    #fandom
    {

        .small-container
            {
                background-color:aqua;
            }

        .big-container
            {
                background-color:pink;
            }
    }

    .technology
        {
            background-color: green;
        }

    .top-footer
    {
        background-color: rgb(39, 39, 39);

        .top-footer-big
        {
        background-color: rgb(254, 121, 143);
        }

        .top-footer-small
        {
            background-color: rgb(1, 174, 157);
        }

    }

    .footer-bottom
    {
        background-color: rgb(39, 39, 39);

    #logo-footer {
        background-color: rgb(254, 121, 143);
    } 

    #footer-button
    {
        background-color: rgb(254, 121, 143);;
    }

    .footer-bottom-container {
        background-color: aquamarine;
    }
    }
}



/* Utilities */

.d-flex
{
    display: flex;
}

.container
{
    width: 80%;
    margin: auto;
    align-items: center;
}

button
{
    border-radius: 1.25rem;
    padding: 0.75rem 1.5rem;
    border: none;
}

a
{
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
}

.grey-container
{
    background-color: var(--dis-secondary-bg);
}


/* Header */
header
{
    background-color: var(--dis-primary);
    padding: 0.75rem 2rem;
    justify-content:space-around;
}

.logo
{
    width: 6rem;
}

.menu
{
    flex-grow: 2;
    text-align: center;
    align-content: center;
}

.accedi
{
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
}
 

/* Main */

/* Jumbotron */

.jumbotron
{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 450px;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    .hero-title
    {
        color: white;
        margin-bottom: 2rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }

    .hero-text
    {
        color: white;
        padding: 0rem 30rem;
        text-align: center;
        margin-bottom: 2rem;
        line-height: 1.5rem;
    }

    .scarica
    {
        background-color: white;
        color: black;
        margin-right: 1rem;
        font-size: 18px;
    }

    .apri-nel-broswer
    {
        background-color: var(--dis-text);
        color: white;
        font-size: 18px;
    }
}

/* invite-only + fandom + community + technology */

.small-container
{
    padding: 5rem;
}

.big-container
{
    flex-grow: 2;
    padding: 5rem;
}

.section-title
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#technology
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta-text
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 3rem;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-size: 30rem;
}

.scarica-per-mac-button
{
    background-color: var(--dis-secondary-button);
    color: white;
    font-size: 18px;
    margin-bottom: 5rem;
}

/* Footer */

/* Top Footer */

.top-footer
{
    padding: 0.5rem 2rem 1.5rem 2rem;
    display: flex;
    justify-content: center;
}

.top-footer-big
{
    width: 20%;
    height: 400px;
}

.top-footer-small
{
    width: 15%;
    height: 400px;
}

/* Footer-bottom */

.footer-bottom
{
    padding: 1rem 2rem 0rem;
    display: flex;
    justify-content: center;
}

.footer-bottom-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem;
}

