*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root
{
    --dis-primary: #3161E0;
    --dis-text: #23272A;
    --dis-secondary-bg: #F6F6F6;
    --dis-highlight-text: #7289DA;
    --dis-secondary-button: #8EA1E1;
    --dis-third-bg: #23272A;
}

.debug
{

    .jumbotron-container
    {
        background-color: blue;
        
        .jumbotron
        {
            background-color: rgb(255, 161, 244);
        }
    }

    #invite-only,
    #fandom
    {

        .small-container
            {
                background-color:aqua;
            }

        .big-container
            {
                background-color:pink;
            }
    }

    .technology
        {
            background-color: green;
        }

    .top-footer
    {
        background-color: rgb(39, 39, 39);

        .top-footer-big
        {
        background-color: rgb(254, 121, 143);
        }

        .top-footer-small
        {
            background-color: rgb(1, 174, 157);
        }

    }

    .footer-bottom
    {
        background-color: rgb(39, 39, 39);

    #logo-footer {
        background-color: rgb(254, 121, 143);
    } 

    #footer-button
    {
        background-color: rgb(254, 121, 143);;
    }

    .footer-bottom-container {
        background-color: aquamarine;
    }
    }
}



/* Utilities */

.d-flex
{
    display: flex;
}

button
{
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
}

ul
{
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
}

li
{
    margin-left: 3rem;
}

a
{
    text-decoration: none;
    color: white;
    align-self: center;
}


/* Header */
#header-container
{
    background-color: var(--dis-primary);
    padding: 0.75rem 2rem;
    justify-content:space-around
}

#logo
{
    width: 8rem;
}

.accedi
{
    color: black;
    background-color: white;
}
 

/* Main */

/* Jumbotron */

.jumbotron-container
{
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
}

.jumbotron
{
    width: 60%;
    height: 300px;
}

/* invite-only + fandom + community + technology */

#community
{
    display: flex;
    flex-direction: row-reverse;
}

.small-container
{
    width: 50%;
    height: 300px;
}

.big-container
{
    width: 30%;
    height: 300px;
}

.technology
{
    width: 80%;
    height: 600px;
}

/* Footer */

/* Top Footer */

.top-footer
{
    padding: 0.5rem 2rem 1.5rem 2rem;
    display: flex;
    justify-content: center;
}

.top-footer-big
{
    width: 20%;
    height: 400px;
}

.top-footer-small
{
    width: 15%;
    height: 400px;
}

/* Footer-bottom */

.footer-bottom
{
    padding: 1rem 2rem 0rem;
    display: flex;
    justify-content: center;
}

.footer-bottom-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0rem;
}

